.all-box{
   background-color:#F8F9FC;
   padding-top:100px;
}
.study-name-box{  
    margin-left:360px;
    padding-left:73px;
    padding-top:71px;
    width: 1200px;
height: 261px;
left: 360px;
top: 170px;
background: #FFFFFF;
}
.study-deadline{
    margin-left:10px;
}
.study-name-detail{
    margin-left:60px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */
    
    
    color: #000000;
}
.study-name-detail2{
    
    margin-top:50px;
    font-family: 'Noto Sans';
font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 34px;
/* identical to box height */


color: #22272E;
}

.study-view-field-text{
    margin-left:360px;
    margin-top:13px;
    width: 1200px;
height: 113px;
left: 360px;
top: 444px;

background: #FFFFFF;

}
.study-view-field-text2{
    float:left;
    margin-left:73px;
    margin-top:44px;
    font-family: 'Noto Sans';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 25px;
/* identical to box height */


color: #88898E;



}
.study-view-field{
    padding-left:150px;

    padding-top:43px;
    margin-left:30px;
    font-family: Noto Sans;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 25px;

color: #22272E;
}
.study-view-description{
    margin-left:360px;
    width: 1200px;
height: 113px;
left: 360px;
top: 444px;

background: #FFFFFF;

}
.study-view-description-text{
    float:left;
    margin-left:73px;
    margin-top:40px;
    font-family: 'Noto Sans';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 25px;
/* identical to box height */


color: #88898E;



}
.study-view-description-text2{

    padding-left:150px;

    padding-top:40px;
    margin-left:30px;
    margin-top:13px;
    font-family: Noto Sans;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 25px;

color: #22272E;


}
.study-view-level{
    margin-left:360px;
    margin-top:13px;
    width: 1200px;
height: 113px;
left: 360px;
top: 444px;

background: #FFFFFF;

}

.study-view-level-text{
    float:left;
    margin-left:73px;
    margin-top:40px;
    font-family: Noto Sans;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 25px;
/* identical to box height */


color: #88898E;



}

.study-view-level-text2{
    padding-left:150px;

    padding-top:40px;
    margin-left:30px;
    font-family: Noto Sans;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 25px;

color: #22272E;
}
.study-view-onoff{

    margin-left:360px;
    margin-top:13px;
    width: 1200px;
height: 113px;
left: 360px;
top: 444px;
background: #FFFFFF;
}
.study-view-onoff-text{

    float:left;
    margin-left:73px;
    margin-top:40px;
    font-family: Noto Sans;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 25px;
/* identical to box height */


color: #88898E;



}
.study-view-onoff-text2{

    padding-left:150px;

    padding-top:40px;
    margin-left:30px;
    font-family: Noto Sans;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 25px;

color: #22272E;

}
.study-view-period{
    margin-left:360px;
    margin-top:13px;
    width: 1200px;
height: 113px;
left: 360px;
top: 444px;

background: #FFFFFF;

}

.study-view-period-text{
    float:left;
    margin-left:73px;
    margin-top:40px;
    font-family: 'Noto Sans';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 25px;
/* identical to box height */


color: #88898E;


}

.study-view-period-text2{
    padding-left:150px;

    padding-top:40px;
    margin-left:30px;
    font-family: Noto Sans;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 25px;

color: #22272E;

}

.study-view-studytime{
    margin-left:360px;
    margin-top:13px;
    width: 1200px;
height: 113px;
left: 360px;
top: 444px;

background: #FFFFFF;

}
.study-view-studytime-text{
    float:left;
    margin-left:73px;
    margin-top:40px;
    font-family: 'Noto Sans';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 25px;
/* identical to box height */


color: #88898E;


}
.study-view-studytime-text2{
    padding-left:150px;

    padding-top:40px;
    margin-left:30px;
    font-family: Noto Sans;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 25px;

color: #22272E;

}
.study-view-required{
    margin-left:360px;
    margin-top:13px;
    width: 1200px;
height: 113px;
left: 360px;
top: 444px;

background: #FFFFFF;

}

.study-view-required-text{
    float:left;
    margin-left:73px;
    margin-top:40px;
    font-family: Noto Sans;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 25px;
/* identical to box height */


color: #88898E;



}

.study-view-required-text2{
    padding-left:230px;

    padding-top:40px;
    margin-left:30px;
    font-family: Noto Sans;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 25px;

color: #22272E;
}

.study-view-peoplenum{
    margin-left:360px;
    margin-top:13px;
    width: 1200px;
height: 113px;
left: 360px;
top: 444px;

background: #FFFFFF;

}
.study-view-peoplenum-text{
    float:left;
    margin-left:73px;
    margin-top:40px;
    font-family: Noto Sans;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 25px;
/* identical to box height */


color: #88898E;



}
.study-view-peoplenum-text2{
    padding-left:150px;

    padding-top:40px;
    margin-left:30px;
    font-family: Noto Sans;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 25px;

color: #22272E;

}
.study-view-deadline{
    margin-left:360px;
    margin-top:13px;
    width: 1200px;
height: 113px;
left: 360px;
top: 444px;
background: #FFFFFF;

}
.study-view-deadline-text{
    float:left;
    margin-left:73px;
    margin-top:40px;
    font-family: Noto Sans;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 25px;
color: #88898E;
}
.study-view-deadline-text2{
    padding-left:150px;

    padding-top:40px;
    margin-left:30px;
    font-family: Noto Sans;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 25px;

color: #22272E;
}

.button-register{
    margin-bottom:30px;
    color:white;
    width: 190px;
height: 57px;
margin-left: 750px;
background: #497EF1;
border-radius: 40.5px;
border:none;
}
.button-delete{
    color: #88898E;
    margin-left:360px;
    width: 119px;
height: 57px;
margin-right:30px;

background: #EEEFF2;
border-radius: 40.5px;
border:none;


}
.button-fix{
    color: #88898E;
    width: 119px;
height: 57px;

background: #EEEFF2;
border-radius: 40.5px;
border:none;
}