.footerContainer{
    width: 100%;
    height: 556px;
    background: #22272E;
    color: #FFFFFF;
    font-family: 'Noto Sans KR', sans-serif;
}

.footerContents{
    width: 1200px;
    height: 290px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 192px;
}

.footerLogo{
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 52px;
    margin-bottom: 12px;
}

.footerSlogan{
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 12px;
}

.footerCompany{
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;
}

.footerLogoIcon{
    position: absolute;
    margin-left: 328px;
    margin-top: 117px;

}

.footerBtns{
    margin-top: 86px;
    width: 793px;
    height: 25px;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    float: left;
}

.copyright{
    position: absolute;
    width: 793px;
    height: 22px;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
/* identical to box height */

    text-align: right;
    float:left;
    margin-top: 86px;
    margin-left: 420px;
}

.socialIcons{
    position: absolute;
    margin-left: 1355px;
    margin-top: 150.27px;
}