body{
    background: #22272E;
}

.logoImage{
    margin-left: 796px;
    margin-top: 182px;
}

.loginButton{
    margin-top: 156px;
    margin-left: 638px;
    width: 645px;
    height: 81px;
    background: #EEEFF2;
    border-radius: 40.5px;
    text-align: center;
    line-height: 100px;
}