.myMorePageContainer{
    width: 100%;
    height: auto;
    background-color: #F8F9FC;
    padding-left: 360px;
    padding-right: 360px;
    padding-top: 100px;
    padding-bottom: 135px;
    font-family: "Noto Sans KR";
    color: #22272E;
}

.myMorePageBanner{
    width: 1200px;
    height: 201px;
    background: #497EF1;
    border-radius: 46px 46px 0px 0px;
}

.appliedStudyImg{
    position: absolute;
    margin-left: 1067px;
}

.likedStudyImg{
    position: absolute;
    margin-left: 1150px;
    margin-top: 210px;
}

.openedStudyImg{
    position: absolute;
    margin-left: 1176px;
    margin-top: 90px;
}

.ongoingStudyImg{
    position: absolute;
    margin-left: 1176px;
    margin-top: 130px;
}

.myMorePageTitleText{
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 41px;
    margin-left: 73px;
    padding-top: 57px;
    color: #FFFFFF;
}

.appliedList{
    width: 1200px;
    height: 300px;
    background-color: #FFFFFF;
    text-align: center;
}

.likedListContainer{
    padding-top: 44px;
    padding-bottom: 28px;
    width: 1200px;
    height: auto;
    background-color: #FFFFFF;
    text-align: center;
}

.openedListContainer{
    width: 1200px;
    height: auto;
    background-color: #FFFFFF;
    padding-top: 43px;
    margin-top: 15px;
    text-align: center;
    margin-bottom: 22px;
}

.openedStudyTitle{
    margin-left: 73px;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    color: #22272E;
    float: left;
}

.receivedAppContainer{
    display: inline-block;
    width: 1055px;
    height: auto;
    background: #F8F9FC;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.03);
    padding-bottom: 26px;
    margin-bottom: 21px;
}

.receivedAppUserName{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    float: left;
    margin-top: 34px;
    margin-left: 94px;
}

.fireEmoji{
    float: left;
    font-size: 18px;
    line-height: 25px;
    margin-top: 33px;
    margin-left: 10px;
}

.receivedAppUserTemp{
    margin-left:5px;
    margin-top: 33px;
    float: left;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #497EF1;

}

.receivedAppViewDetail{
    float: right;
    width: 98.73px;
    height: 40px;
    background: #497EF1;
    border-radius: 40.5px;
    line-height: 40px;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 40px;
    text-align: center;

    color: #FFFFFF;
    margin-top: 26px;
    margin-right: 42.27px;
}

.receivedAppRegDate{
    float: right;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    color: #88898E;
    margin-right: 33px;
    margin-top: 35px;
}

.likedList{
    text-align: left;
    display: inline-block;
    width: 1055px;
    height: 155px;
    background: #F8F9FC;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.03);
    margin-bottom: 23px;
}

.bookMarkVector{
    margin-left: 69.5px;
    margin-top: 60.5px;
    float: left;
}

.likedStudyName{
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    margin-left: 53px;
    color: #22272E;
    float: left;
    margin-top: 60px;
}

.likedStudyStatus{
    float: right;
    margin-top: 37px;
    margin-right: 82.64px;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 30px;
    text-align: right;
}

.appliedStudyName{
    width: 1014px;
    height: 71px;
    background: #F8F9FC;
    border-radius: 20px;
    text-align: center;
    line-height: 71px;
    margin-top: 44px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    display: inline-block;
}


.applyStatus{
    position: absolute;
    margin-left: 550px;
    margin-top: 30px;
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    color: #497EF1;
}

.appliedStudyBtn{
    width: 178px;
    height: 49.94px;
    background: #EEEFF2;
    border-radius: 40.5px;
    float: left;
    text-align: center;
    line-height: 49.94px;
    margin-top: 90px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    margin-left: 20px;
}

.appliedStudyBtnContainer{
    display: inline-block;
}

.ongoingStudyNameTabText{
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
}